*,
::after::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
  background: linear-gradient(to right, #00b09b, #96c93d);
  min-height: 100vh;
  text-transform: capitalize;
}

.text-gray {
  color: #aaa;
}
.badge {
  margin-left: 140px;
}
.btn {
  margin: 0 20px;
}
.header {
  display: flex;

  justify-content: space-evenly;
  border: 0.1rem solid rgb(50, 50, 61);
  padding: 0.5rem;
}
.search {
  text-decoration: none;
  list-style-type: none;

  padding: 0.4rem;
}
.search input {
  width: 25rem;
  height: 1.3rem;
}
.header-ul ul {
  list-style-type: none;
  display: flex;

  padding: 0.5rem;
}
.header-ul ul li {
  margin: auto;
}
.header-ul ul li a:hover {
  cursor: pointer;
  color: rgb(123, 118, 93);
  font-size: 1.2rem;
}
.header-ul ul li a {
  text-decoration: none;
  margin-right: 1rem;
}
.majorHead {
  text-transform: capitalize;
}
